In [1]:
import pandas as pd
import numpy as np
import utilities
import torch
from sklearn import preprocessing

/home/users/lewinsda/.conda/envs/daniel_thesis_2/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [29]:
int_df = pd.read_csv("pbmc_test_interpretation_markers_only_test_cell_specific.csv", index_col=0)
cor_loadings = pd.read_csv("cor_loadings.csv", index_col=0)
mean_atts = pd.read_csv("mean_atts.csv", index_col=0)
gene_loadings = pd.read_csv("comp_loadings.csv", index_col=0)
cor_loadings.index = int_df.index
gene_loadings.index = int_df.index
atts = pd.read_csv("single_atts.csv", index_col=0)
preds = pd.read_csv("preds_test.csv", index_col=0)

In [3]:
markers,marker_names = utilities.read_marker_file("/home/groups/ConradLab/daniel/sharp_data/pbmc_test/markers.txt")
markers

[['CD14', 'FCGR1A', 'CD68', 'S100A12', nan],
 ['CD19', 'MS4A1', 'CD79A', nan, nan],
 ['NCAM1', 'FCGR3A', nan, nan, nan],
 ['CD4', 'CD3D', 'CD3E', 'CD3G', nan],
 ['CD8A', 'CD8B', 'CD3D', 'CD3E', 'CD3G']]

In [4]:
marker_names

['cd14_monocytes', 'b_cells', 'cd56_nk', 'cd4_t_cell', 'cd8_t_cell']

In [5]:
b_markers = ['CD19', 'MS4A1', 'CD79A']
mono_markers = ['CD14', 'FCGR1A', 'CD68', 'S100A12']
cd4_markers = ['CD4', 'CD3D', 'CD3E', 'CD3G']
nk_markers = ['NCAM1', 'FCGR3A']
cd8_markers = ['CD8A', 'CD8B', 'CD3D', 'CD3E', 'CD3G']

In [27]:
preds.iloc[0,:]

0         7.0
1        10.0
2        17.0
3        39.0
4        42.0
         ...
38726     NaN
38727     NaN
38728     NaN
38729     NaN
38730     NaN
Name: 0, Length: 38731, dtype: float64

In [32]:
(atts.iloc[preds.iloc[0,:].dropna().to_numpy(),]).iloc[:,2].mean()

693.0144462097371

In [49]:
atts.iloc[:,0].std()

377.4206393908639

In [31]:
mean_atts

               0           1            2           3           4
0     -82.125465   95.536420  -249.984660  969.558840   41.407820
1    2193.982000  573.013000  -275.181460  489.520720  -41.393220
2     693.014470  528.552250  1128.074200 -117.341780   37.532787
3    -573.710630  580.821300   519.850000 -174.562330  302.356350
4     632.307560 -165.221340  1007.650000  447.564480  203.680310
..           ...         ...          ...         ...         ...
495    46.430332   31.360117   -30.529892   -5.725787  -62.656227
496    68.697300  -23.660227    14.572708  -65.252630   45.826180
497  -106.262405   28.267849   -86.224170  -69.861916   24.994137
498   -38.740314  137.385930  -106.118420  -56.638700  -34.399130
499    84.053790 -101.306160    -7.071612   41.425610  -26.713430

[500 rows x 5 columns]

In [33]:
mean_attributions = np.zeros((5, 500))
for i in range(5):
    mean_attributions[i] = torch.mean(torch.tensor((atts.iloc[preds.iloc[i,:].dropna().to_numpy(),:]).to_numpy()), 0)

In [34]:
mean_attributions

array([[ -82.12545465, 2193.98189521,  693.01444621, ..., -106.26239922,
         -38.74031633,   84.0537919 ],
       [  95.53642759,  573.01298373,  528.5522658 , ...,   28.26784816,
         137.38593881, -101.30615514],
       [-249.98465309, -275.18149383, 1128.07419784, ...,  -86.22416995,
        -106.11842856,   -7.07161253],
       [ 969.55875611,  489.52075556, -117.34177417, ...,  -69.86191882,
         -56.63870014,   41.42560959],
       [  41.40782379,  -41.39321801,   37.53278468, ...,   24.99413641,
         -34.39913142,  -26.71343251]])

In [6]:
gene_loadings.loc[b_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
CD19,-0.006210,0.019525,0.009608,-0.020694,0.004619,-0.001777,0.004188,-0.001020,-0.001514,-0.001308,...,0.001084,0.000422,-0.002114,0.000609,0.001759,0.001412,0.000295,0.000826,-0.001696,0.002276
MS4A1,-0.023904,0.076364,0.037808,-0.079833,0.018030,-0.010454,0.022840,-0.003698,-0.010046,-0.000740,...,-0.002827,0.001603,-0.005586,-0.002711,0.006427,0.003383,0.001486,0.004099,-0.003446,0.006966
CD79A,-0.048321,0.133974,0.054838,-0.142193,0.028070,-0.017556,0.030615,-0.005513,0.007861,-0.000872,...,0.000221,-0.003508,0.000816,-0.006825,0.016529,0.002375,0.007806,0.006612,0.005319,0.002750

In [17]:
gene_loadings.loc[mono_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
CD14,0.003949,0.022280,0.012565,0.047599,-0.031274,0.031994,-0.029428,0.003538,-0.000429,0.001775,...,-0.001450,-0.000421,-0.004478,-0.000590,0.000025,-0.000587,0.003031,-0.004573,-0.002544,-0.000979
FCGR1A,0.000436,0.002192,0.001371,0.004431,-0.003270,0.003243,-0.002835,0.000545,-0.000167,-0.000280,...,-0.000141,-0.000214,-0.001006,-0.000456,0.000022,0.000001,0.000674,-0.000679,0.000894,-0.000638
CD68,0.001419,0.008169,0.006462,0.012752,-0.010505,0.011729,-0.010134,-0.000031,-0.000387,-0.002645,...,0.000940,0.000544,-0.000033,-0.000676,-0.000722,0.000363,0.000115,-0.002549,0.000229,0.000843
S100A12,0.001251,0.007375,0.003027,0.016500,-0.010610,0.010233,-0.008857,0.004311,-0.001538,0.001555,...,-0.000730,0.001210,0.000148,-0.001155,0.002570,-0.002767,0.002242,-0.000170,-0.001092,-0.000027

In [18]:
gene_loadings.loc[cd4_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
CD4,-0.000349,-0.002361,0.014891,0.019794,-0.003986,0.005566,-0.004414,0.000877,-0.013313,0.008696,...,0.000703,-0.002140,-0.005750,-0.000738,-0.002209,-0.000504,0.003029,0.002792,-0.004415,-0.000240
CD3D,-0.045911,-0.149703,0.020864,0.036310,-0.053701,-0.035225,0.102106,0.042605,0.182224,-0.029520,...,0.000058,0.004476,0.017663,-0.009882,-0.004716,-0.003501,-0.000225,-0.021584,-0.038522,-0.033248
CD3E,-0.053022,-0.148849,0.014606,0.038772,-0.004999,-0.002570,0.014233,0.035024,0.106487,-0.039332,...,-0.003885,-0.019831,0.006146,-0.010436,0.002342,0.005023,-0.010183,-0.005655,-0.009777,-0.003563
CD3G,-0.007945,-0.037106,0.005548,0.003682,-0.011758,-0.008794,0.010338,0.011935,0.054300,-0.002096,...,0.097746,-0.033417,-0.019263,-0.065081,0.004313,-0.053503,0.044883,-0.001659,0.099289,0.082715

In [19]:
gene_loadings.loc[cd8_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
CD8A,0.000391,-0.012850,-0.034472,-0.016001,-0.052911,0.000171,0.019490,0.019172,0.098244,-0.037469,...,-0.001966,0.001815,0.013976,-0.023673,0.003276,0.011341,-0.005598,-0.002550,0.014598,-0.007572
CD8B,-0.021600,-0.033099,-0.078126,-0.034543,-0.128084,0.030794,0.041442,0.055465,0.199507,-0.051293,...,-0.005411,0.002124,0.026921,-0.062774,0.007759,0.031527,-0.016687,0.001877,0.033492,-0.001300
CD3D,-0.045911,-0.149703,0.020864,0.036310,-0.053701,-0.035225,0.102106,0.042605,0.182224,-0.029520,...,0.000058,0.004476,0.017663,-0.009882,-0.004716,-0.003501,-0.000225,-0.021584,-0.038522,-0.033248
CD3E,-0.053022,-0.148849,0.014606,0.038772,-0.004999,-0.002570,0.014233,0.035024,0.106487,-0.039332,...,-0.003885,-0.019831,0.006146,-0.010436,0.002342,0.005023,-0.010183,-0.005655,-0.009777,-0.003563
CD3G,-0.007945,-0.037106,0.005548,0.003682,-0.011758,-0.008794,0.010338,0.011935,0.054300,-0.002096,...,0.097746,-0.033417,-0.019263,-0.065081,0.004313,-0.053503,0.044883,-0.001659,0.099289,0.082715

In [40]:
gene_loadings.loc[nk_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
NCAM1,0.003209,0.000586,-0.001893,-0.000840,0.001345,0.000665,-0.000823,-0.000336,-0.001216,0.000177,...,0.000036,0.000194,0.000225,0.001193,0.000105,0.000730,-0.000151,0.000017,-0.000955,0.001102
FCGR3A,0.066683,0.011571,-0.036167,-0.014262,0.031134,0.014546,0.002183,-0.015663,-0.025858,0.008193,...,-0.000922,-0.007918,0.005463,-0.000835,0.003323,0.003292,-0.010327,-0.012691,-0.001043,0.002203

In [9]:
cor_loadings.loc[b_markers,:]

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
CD19,-0.036296,0.102524,0.038086,-0.076073,0.014003,-0.004472,0.008362,-0.001810,-0.002538,-0.002050,...,0.000889,0.000346,-0.001730,0.000498,0.001438,0.001152,0.000240,0.000672,-0.001379,0.001848
MS4A1,-0.139717,0.400975,0.149871,-0.293468,0.054661,-0.026303,0.045596,-0.006561,-0.016834,-0.001160,...,-0.002319,0.001314,-0.004572,-0.002217,0.005255,0.002760,0.001212,0.003336,-0.002803,0.005656
CD79A,-0.282438,0.703474,0.217376,-0.522703,0.085101,-0.044173,0.061118,-0.009782,0.013172,-0.001368,...,0.000181,-0.002875,0.000668,-0.005582,0.013513,0.001938,0.006363,0.005381,0.004326,0.002233

In [15]:

preprocessing.scale(mean_atts)[0:10,:]

array([[ 1.16445342,  0.91952908,  0.91515671,  1.07987424,  0.91188448],
       [-1.27545305, -1.4393498 , -1.34324872, -1.34220922, -1.29915807],
       [ 1.94520602,  2.22181428,  1.45813202,  1.836314  ,  1.28130771],
       [ 4.48700613,  3.44593186,  5.81526457,  4.85063338,  6.04703973],
       [ 4.4807771 ,  4.1026068 ,  4.66722936,  4.55460864,  4.46527178],
       [-2.17416595, -2.01590637, -2.29570361, -2.29475198, -2.54022754],
       [-1.57834561, -1.49548303, -1.1363164 , -1.43486925, -0.96176041],
       [-1.98823589, -2.11943991, -1.48236897, -1.79944213, -1.24921147],
       [-8.73785212, -9.11924539, -6.72722768, -8.22022802, -5.67334265],
       [ 1.85497021,  2.17826262,  1.15183215,  1.69430039,  0.82359265]])

In [35]:
mean_atts.iloc[0:10,:]

           0           1          2           3           4
0  115.37560   84.440315   58.12443   69.719050   37.281670
1 -130.03564 -136.525960  -87.29733  -88.964066  -53.797530
2  193.90544  206.430940   93.08734  119.277300   52.499275
3  449.56537  321.099270  373.64896  316.760830  248.813480
4  448.93884  382.612820  299.72543  297.366730  183.655910
5 -220.43019 -190.534480 -148.62718 -151.370030 -104.920750
6 -160.50125 -141.784200  -73.97268  -95.034700  -39.899150
7 -201.72893 -200.232910  -96.25547 -118.919740  -51.740086
8 -880.62040 -855.934630 -433.97897 -539.578370 -233.982770
9  184.82932  202.351270   73.36428  109.973260   33.644676

In [37]:
int_df.loc[cd8_markers,:]

        b_cells  cd14_monocytes  cd4_t_cell    cd56_nk  cd8_t_cell
CD8A -152.55612      -40.902836  -584.11220 -136.27263 -124.166230
CD8B -329.82498      -61.297790 -1292.32190 -266.58230 -316.315120
CD3D -502.12744     -106.552490    81.94708 -470.35355  102.628110
CD3E -546.53845     -262.808600   406.49738 -464.03876  179.689360
CD3G -175.80557      -30.983734  -244.05708 -164.11820  -21.728344

In [12]:
mean_atts.shape

(500, 5)

In [19]:
gene_loadings.shape

(17980, 500)

In [22]:
test = torch.mm(torch.FloatTensor(gene_loadings.to_numpy()), torch.FloatTensor(mean_attributions.T))

In [23]:
test = test.numpy()
test = pd.DataFrame(test)
test.index = int_df.index

In [28]:
test.loc[cd8_markers,:]

               0           1            2           3           4
CD8A -152.556122  -40.902836  -584.112244 -136.272614 -124.166214
CD8B -329.824951  -61.297798 -1292.321899 -266.582306 -316.315125
CD3D -502.127563 -106.552490    81.947113 -470.353516  102.628113
CD3E -546.538452 -262.808594   406.497375 -464.038757  179.689362
CD3G -175.805588  -30.983730  -244.057083 -164.118195  -21.728344

In [17]:
int_df.loc[cd4_markers,:]

         b_cells  cd14_monocytes  cd4_t_cell    cd56_nk  cd8_t_cell
CD4    60.329964       56.115875   34.329407   38.45021   19.992527
CD3D   90.960846       76.698870  122.078270   91.66008   92.011826
CD3E  366.545350      322.836730  264.670040  261.00550  169.418090
CD3G -167.062590     -170.760960  -65.896470  -96.52380  -29.875946

In [29]:
mean_atts

             0          1          2          3          4
0    -6.106576 -13.408016   4.327028  24.380850   6.755604
1    39.695496 -14.206852 -16.089788 -26.384342 -20.858820
2   -13.552531 -26.666649  29.273977 -18.654291  14.634708
3    28.151108 -16.095450  -8.489864 -30.315193  -3.266408
4   -20.170885 -28.406910   6.452447 -13.252443   9.115130
..         ...        ...        ...        ...        ...
495  -0.086008  -0.027225  -0.045163  -0.104595  -0.031282
496  -0.036265  -0.014203   0.101888   0.021760   0.044595
497  -0.028783  -0.040097   0.068577  -0.006975   0.013316
498   0.017461   0.148150   0.049626   0.066290   0.055258
499   0.032436   0.074852   0.182111   0.011118   0.090489

[500 rows x 5 columns]